{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} {{ web_title }} {% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid " >
    <div class="navbar-header  ">
 <!--    导航按钮
  <button type="button" aria-hidden="true" class="btn btn-default active navbar-btn glyphicon glyphicon-arrow-left" 
      style='left:10px;' onclick="javascript:history.go(-1);">返回</button>
  -->
  <p class="navbar-text active glyphicon glyphicon-arrow-left" aria-hidden="true" style='left:10px;font-size:16px;' onclick="javascript:history.go(-1);">
  返回</p>
     </div>
  </div>
</nav>
{% endblock %}

{% block body_attribs %}
{% endblock %}

{% block page_content %}
body { padding-top: 70px; }
<div class="page-header">
{% if page_data.title %}
<h3>{{ page_data.title|safe }}</h3>
{% else %}
<h3>{{ page_data.stitle|safe }}</h3>
{% endif %}
</div>

{% if page_data.img %}
<div class="page-content" >
	{{ page_data.img|safe }}
</div>
<p>
{% endif %}

<div class="page-content">
<p style='font-size:18px;font-height:1.42857143;
font-family:...,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;'>
{{ page_data.content|safe }}
</p>
</div>

{% endblock %}
