{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}湖州日报手机版{% endblock %}

navbar-dirbar{ height: 40px;opacity:0}

{% block scripts %}
{{ super() }}
   <script>$(function () 
      { $("[data-toggle='popover']").popover({html : true });
      });
   </script>
   
 {% endblock %}
 
{% block navbar %}

<div class="btn-group btn-group-justified navbar-fixed-bottom" role="group" aria-label="...">
  <div class="btn-group dropup" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      往期
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" style="height:250px;overflow:scroll">
 	{% for menu_data in menu_data %}
    <li><a href={{ menu_data.url|safe }}>{{ menu_data.name  }}</a></li>
    {% endfor %}
    </ul>
  </div>
  
  <div class="btn-group" role="group">
    <a href='/main/?url={{ curr_page }}' class="btn btn-primary active" role="button">版面</a>
  </div>
  
   <div class="btn-group" role="group">
    <a href='/list/?url={{ curr_page }}' class="btn btn-default active" role="button">目录</a>
  </div>
</div>
{% endblock %}

{% block body_attribs %}
{% endblock %}

{% block page_content %}
{% for page_data in page_data %}
<div class="page-content">
	{{ page_data|safe }}
</div>
<br/>
{% endfor %}

{% endblock %}
